body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
nav {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  height: 80px;
  z-index: 1;
}
#directory {
  display: flex;
  align-items: center;
}
#compass {
  font-size: xx-large;
  padding: 6px;
  position: relative;
  top: 0;
}
.search-contain {
  width: fit-content;
  position: relative;
}
#search-bar {
  position: absolute;
  top: 12px;
  left: 10px;
}
.search-contain input {
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #d8d8d8;
  width: 140px;
  padding: 12px 40px;
  font-size: 17px;
  transition: 0.5s;
}
.search-contain input:focus-within {
  width: 12rem;
}
.nav-bar ul {
  display: flex;
  align-items: center;
  width: fit-content;
}
.nav-bar ul li {
  display: inline-block;
  padding: 5px 12px;
}
.nav-bar ul li a {
  display: block;
  color: black;
  text-decoration: none;
  transition: 0.5s;
}
.nav-bar ul li:hover {
  font-weight: bold;
}
.nav-bar i {
  position: relative;
  left: 3px;
  top: 2px;
}
#listing {
  border-radius: 5px;
  border: none;
  background-color: blue;
  width: 160px;
  padding: 15px 0;
  letter-spacing: 3px;
  transition: 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#listing a {
  display: block;
  color: white;
  text-decoration: none;
}
#listing:hover {
  background-color: rgb(39, 39, 211);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.slides {
  height: 100vh;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 4s;

  animation: animate 25s ease-in-out infinite alternate-reverse forwards;
}

@keyframes animate {
  0% {
    background-image: url(https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80);
  }
  50% {
    background-image: url(https://www.oberlo.com/media/1603970279-pexels-photo-3.jpg?fit=max&fm=jpg&w=1824);
  }
  100% {
    background-image: url(https://images.unsplash.com/photo-1542038784456-1ea8e935640e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80);
  }
}
.slides h4,
p {
  position: relative;
  top: 240px;
  left: 160px;
  width: fit-content;
  text-shadow: 1.5px 1px 1px black;
}
.slides h4 {
  letter-spacing: 0.2em;
  color: #e2217b;
}
.slides p {
  font-size: 70px;
  margin-top: 23px;
  font-weight: bold;
  color: white;
}
.secondary-box {
  display: inline-flex;
  justify-content: space-between;
  border-radius: 27px;
  width: 70%;
  height: 55px;
  position: relative;
  top: 210px;
  left: 160px;
  overflow-x: hidden;
  background-color: white;
}
.secondary-box input {
  border: none;
  width: 260px;
  font-size: 18px;
  border-radius: 7px;
  padding-left: 17px;
  outline: none;
}
.secondary-box button {
  width: 14%;
  border: none;
  border-radius: 27px;
  position: relative;
  right: 4px;
  top: 3.2px;
  height: 48px;
  font-weight: bold;
  font-size: larger;
  letter-spacing: 0.1em;
  background-color: blue;
  color: white;
  cursor: pointer;
}
.secondary-box #location-1 {
  position: relative;
}
.secondary-box #location {
  position: absolute;
  left: 500px;
  top: 18px;
}
.secondary-box #categories {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  width: 22%;
  height: 48px;
  margin-top: 3px;
  font-size: larger;
  padding-left: 9px;
  border-radius: 7px;
  transition: 0.5s;
}
.secondary-box #categories:hover {
  background-color: silver;
}
.secondary-box #arrow-up {
  margin-left: 44%;
}
.secondary-box ul li a {
  display: block;
  text-decoration: none;
  color: black;
}
.container-box {
  width: 38%;
  text-align: center;
  margin: 7% 33%;
}
.container-box h4 {
  letter-spacing: 0.3em;
  color: #e2217b;
}
.container-box h1 {
  letter-spacing: 0.1em;
}
.nested-box {
  display: flex;
  text-align: center;
}
.nested-box h3 {
  color: #6c757d;
  width: 75%;
  margin-left: 13%;
  word-spacing: 0.1em;
}
.features {
  width: fit-content;
  margin-left: 5%;
  margin-top: 9%;
}
.features h4 {
  color: #4e66f8;
  letter-spacing: 0.1em;
  margin: 0;
}
.features h1 {
  margin: 0;
  padding-top: 7px;
}
#guides {
  border-bottom: 0;
  display: block;
  text-decoration: none;
  color: #6c757d;
  font-size: 18px;
  width: fit-content;
  float: right;
  margin: -3% 4%;
  transition: 0.5s;
}
#guides:hover {
  border-bottom: 1px solid black;
}
#guides i {
  padding: 0.5px 6px;
}
.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 95%;
  margin-left: 1.8%;
  margin-top: 5.5%;
}
#image-1,
#image-2,
#image-3,
#image-4,
#image-5 {
  border: none;
  overflow: hidden;
  width: 17%;
  height: 22em;
  border-radius: 11px;
  cursor: pointer;
  position: relative;
}
#image-1 #content-1,
#image-2 #content-2,
#image-3 #content-3,
#image-4 #content-4,
#image-5 #content-5 {
  position: absolute;
  top: 242px;
  left: 10px;
  color: white;
  font-weight: bold;
  text-shadow: 1.5px 1px 1px black;
  letter-spacing: 0.1em;
}
.secondary-content {
  width: fit-content;
  margin-left: 5%;
  margin-top: 10%;
}
.secondary-content h4 {
  color: #e83e8c;
  letter-spacing: 0.1em;
  margin: 0;
}
.secondary-content h1 {
  margin: 0;
  padding-top: 7px;
}
#guides-1 {
  border-bottom: 0;
  display: block;
  text-decoration: none;
  color: #6c757d;
  font-size: 18px;
  width: fit-content;
  float: right;
  margin: -3% 4%;
  transition: 0.5s;
}
#guides-1:hover {
  border-bottom: 1px solid black;
}
#guides-1 i {
  padding: 0.5px 6px;
}
.secondary-images {
  display: flex;
  justify-content: space-evenly;
  margin-top: 7%;
  margin-left: 1%;
  width: 93%;
}
#sec-image-1,
#sec-image-2,
#sec-image-3,
#sec-image-4 {
  border: none;
  border-radius: 7px;
  overflow: hidden;
  width: 21.3%;
  height: 160px;
}
.secondary-images img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.groups {
  display: flex;
  justify-content: space-between;
  margin-left: 3.8%;
  width: 88%;
}
.groups #sec-content-1 {
  margin-left: 2%;
}

.groups #sec-content-2 {
  margin-right: 1%;
}

.groups #sec-content-3 {
  margin-right: 1%;
}

.groups #sec-content-4 {
  margin-right: 6%;
}
.vacation {
  margin-top: 7%;
  overflow: hidden;
  height: 590px;
  position: relative;
}
.vacation img {
  width: 100%;
  height: 100%;
}
#holidays {
  position: absolute;
  left: 110px;
  top: 160px;
  width: 80%;
  height: 250px;
}
#holidays h1 {
  font-size: 70px;
  color: white;
  text-shadow: 1.5px 1px 1px black;
}
#holidays button {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.1em;
  border-radius: 5px;
  border: none;
  box-shadow: 1.5px 1px 1px black;
  width: 14%;
  height: 40px;
  cursor: pointer;
  background-color: #f8f9fa;
}
#holidays a {
  display: block;
  text-decoration: none;
  color: #212529;
}
#holidays button:hover {
  box-shadow: 1px -1px 6px black;
}
.third-content {
  width: 44%;
  text-align: center;
  margin: 8% 30%;
}
.third-content h4 {
  color: #4e66f8;
  letter-spacing: 0.3em;
  margin: 0;
}
.third-content h1 {
  margin: 0;
  padding-top: 7px;
  font-size: 2.5em;
}
.fourth-group {
  display: flex;
  justify-content: space-around;
  margin-left: 2%;
}
#f1-group,
#f2-group {
  width: 28%;
  line-height: 1.7em;
}
.fourth-group h3 {
  color: #656565;
  font-size: 1.1rem;
}
.fifth-group {
  width: fit-content;
  margin-left: 5%;
  margin-top: 10%;
}
.fifth-group h4 {
  color: #e83e8c;
  letter-spacing: 0.1em;
  margin: 0;
}
.fifth-group h1 {
  margin: 0;
  padding-top: 7px;
}
.sixth-group {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
  margin-left: 1.8%;
  width: 90%;
}
.sixth-group img {
  width: 100%;
  height: 100%;
}
#s1-group,
#s2-group,
#s3-group {
  width: 30%;
  overflow: hidden;
  border-radius: 7px;
  cursor: pointer;
}
.seventh-group {
  display: flex;
  justify-content: space-evenly;
  margin-left: 1.8%;
  width: 90%;
}
#seven1-group,
#seven2-group,
#seven3-group {
  width: 29%;
  padding-left: 28px;
}
.seventh-group h3 a,
.seventh-group h3 {
  display: block;
  text-decoration: none;
  color: #6c757d;
  font-size: 1.1rem;
}
.seventh-group h2 a {
  border-bottom: none;
  display: block;
  text-decoration: none;
  color: black;
  transition: 0.5s;
}
.seventh-group h2 a:hover {
  border-bottom: 1px solid black;
}
#read {
  display: block;
  text-decoration: none;
  color: #4e66f8;
  letter-spacing: 0.2em;
  font-weight: bold;
  border-bottom: none;
  transition: 0.5s;
}
#read:hover {
  border-bottom: 1px solid #4e66f8;
  width: fit-content;
}
.eigth-group {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 8%;
  height: 400px;
  background-color: #e9ecef;
}
#eigth1-content,
#eigth2-content,
#eigth3-content,
#eigth4-content {
  width: 350px;
  margin-top: 9%;
}
#eigth2-content,
#eigth3-content {
  width: fit-content;
  transition: 0.5s;
}
.eigth-group ul {
  list-style: none;
}
.eigth-group ul li {
  display: block;
  position: relative;
  right: 39px;
  line-height: 1.7rem;
}
.eigth-group a {
  display: block;
  text-decoration: none;
  color: #6c757d;
}
.eigth-group #ipsum {
  color: #6c757d;
  font-weight: normal;
  line-height: 1.5em;
}
.eigth-group input {
  padding: 7.5px;
  font-size: large;
  width: 95%;
  border-radius: 7px;
  outline-offset: 0.1px solid black;
}
#eigth4-content #inputWithIcon {
  position: relative;
}
.eigth-group #eigth4-content i {
  font-size: x-large;
  position: absolute;
  left: 310px;
  bottom: 8px;
}
#eigth1-content .icons {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
}
#eigth1-content .icons i:hover {
  color: #4e66f8;
}
.eigth-group ul li a:hover {
  border-bottom: 1px solid black;
  width: fit-content;
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  background-color: #343a40;
}
footer h4 {
  color: #dee2de;
}
#sec-icons {
  width: 15%;
  display: flex;
  justify-content: space-evenly;
  margin-left: 37%;
}
footer i {
  color: white;
}
@media screen and (max-width: 1024px) {
  #listing {
    display: none;
  }
  .slides {
    height: 65vh;
  }
  .slides h4,
  p {
    position: relative;
    top: 240px;
    left: 60px;
  }
  .secondary-box {
    width: 93%;
    padding: 3px;
    margin-left: -12%;
    margin-top: 2%;
  }
  .container-box {
    margin-top: 13%;
  }
  .container-box h4,
  .container-box h1 {
    width: 120%;
    margin-left: -13%;
  }
  .features {
    margin-top: 20%;
  }
  #image-2 {
    display: none;
  }
  #image-1,
  #image-3,
  #image-4,
  #image-5 {
    width: 22%;
  }
  .secondary-content {
    margin-top: 23%;
  }
  #sec-image-4,
  #sec-content-4 {
    display: none;
  }
  #sec-image-1,
  #sec-image-2,
  #sec-image-3 {
    width: 29%;
    height: 190px;
  }
  .secondary-images {
    width: 97%;
  }
  #sec-content-3 {
    width: 25%;
  }
  .vacation {
    margin-top: 15%;
  }
  .vacation h1 {
    width: 110%;
  }
  #holidays button {
    width: 20%;
  }
  #holidays {
    margin-left: -7%;
  }
  .third-content {
    margin-top: 13%;
  }
  .third-content h1 {
    width: 130%;
    margin-left: -13%;
  }
  .fourth-group {
    margin-top: 10%;
  }
  .fifth-group {
    margin-top: 20%;
  }
  .sixth-group {
    width: 95%;
  }
  .seventh-group {
    width: 93%;
  }
  .eigth-group #ipsum {
    line-height: 1.8em;
  }
  #sec-icons {
    width: 20%;
  }
}
